/*DEFINED LOGIC AROUND HIGHLIGHING*/

/*BECAUSE THIS IS DECLARED FIRST WILL BE OVERWRITTEN ON CONFLICT ==> -PRESEDENCE*/
.ActiveColumn{
    background: #ed143d57;
}

/*BECAUSE THIS IS DECLARED SECOND NOT WILL BE OVERWRITTEN ON CONFLICT ==>  +PRESEDENCE*/
.ActiveRow {
    background: #00000061;
    color: ghostwhite;
}
